@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins), sans-serif;
  --font-bangla: var(--font-hind-siliguri), sans-serif;
}

.font-bangla {
  font-family: var(--font-hind-siliguri), sans-serif;
}